/*@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i');*/

@import url('https://fonts.googleapis.com/css?family=Lora');

* {
    font-family: "Lora", sans-serif;
    box-sizing: border-box;
}

::selection {
    background: #ffff66;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
}

.logo-container {
    position: fixed;
    top: 0%;
    z-index: 1;
    margin-left: 2rem;
}

.logo-container a {
    text-decoration: none;
}

.logo-container h1 {
    display: inline-block;
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #333;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

nav ul {
    position: fixed;
    left: 2rem;
    top: 83%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
    z-index: 1;
}

nav li a {
    font-size: 0.8rem;
    margin-top: 1rem;
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

nav li a:hover {
    background-color: #ffff66;
}

.ham-bar1,
.ham-bar2,
.ham-bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.nav-container.responsive .ham-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 50px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.nav-container.responsive .ham-bar2 {
    opacity: 0;
}

.nav-container.responsive .ham-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.hamburger {
    display: none;
}

.content-container {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    min-height: 100%;
}

.content {
    width: 50%;
    margin: auto;
}

h1 {
    /*    font-family: 'Lora';*/
    color: #333;
    letter-spacing: 0.025em;
    font-size: 2rem;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2 {
    /*    font-family: 'Lora';*/
    color: #333;
    letter-spacing: 0.05rem;
    font-size: 1.15rem;
    font-weight: 700;
    text-align: center;
}

h3 {
    /*    font-family: 'Lora';*/
    color: #333;
    letter-spacing: 0.05rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    line-height: 1.75rem;
}

img {
    width: 100%;
}

#intro {
    background: #fdfdfd;
    height: 100vh;
}

#intro h1 {
    font-size: 4rem;
    background: #fdfdfd;
    position: relative;
    margin-bottom: 0.5rem;
}

#intro h2 {
    color: #333;
    font-size: 2rem;
    font-weight: 400;
    width: 100%;
    margin: auto;
    line-height: 2rem;
    position: relative;
}

figure {
    margin: 0;
    padding-bottom: 0;
}

.tint {
  position: relative;
  float: left;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0);
  transition: all .3s linear;
}

.tint:hover:before {
    background: rgba(0,0,0,0.1);
}

.text-content h2 {
    font-size: 2rem;
    color: #fdfdfd;
    text-transform: none;
}

.text-content p {
    font-size: 1rem;
    color: #fdfdfd;
    margin: auto;
    font-weight: 400;
}

.text-content h2,
.text-content p {
    text-align: center;
    vertical-align: middle;
    display: none;
}

.project .text-content {
    color: white;
    cursor: pointer;
    width: 100%;
    position: absolute;
    top: 37.5%;
    opacity: 0;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}

.project:hover .text-content {
    opacity: 1;
}

.project a img {
    margin-bottom: none;
    padding-bottom: none;
}

.project a {
    text-decoration: none;
}

h2.header {
    font-size: 7rem;
    position: absolute;
    margin: 0;
    right: -12%;
    top: 64.5%;
}

p.subheader {
    font-size: 1rem;
    position: absolute;
    margin: 0;
    right: -12%;
    top: 82%;
}

.opening-statement {
    height: 100vh;
    text-align: center;
}

.opening-statement h1,
.opening-statement h2,
.opening-statement p {
    position: relative;
    top: 40%;
}

.opening-statement h2 {
    font-weight: 400;
}

.section-element {
    padding-bottom: 4rem;
}

.section-element h2 {
    text-align: left;
}

.supplemental-pdf {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.supplemental-pdf a {
    font-size: 0.85rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #333;
    transition: all 0.3s ease-in-out;
    border-bottom: solid 2px;
}

.supplemental-pdf a:hover {
    background-color: #FFFF66;
}

.project-content img {
    width: 100%;
}

.project-content p {
    line-height: 1.5rem;
    font-size: 0.9rem;
}

.project-content ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.project-content span {
    position: absolute;
    margin-top: 0.5rem;
    font-size: 3em;
    font-weight: 700;
    background-color: #ffff66;
}

.project-content li {
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.project-content li p {
    font-family: 'Lora';
    font-size: 2rem;
    margin-left: 6rem;
    line-height: 3rem;
    margin-top: 0;
}

.photographvr-img {
    width: 100%;
}

.photographvr-img figure {
    margin: 0;
    padding: 2rem 0;
}

.photographvr-img figcaption {
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
}

.photographvr-img2 {
    width: 60%;
    margin: auto;
    padding-bottom: 1rem;
}

#about {
    padding-top: 20vh;
    height: 50vh;
}

.video-right video {
    float: right;
    box-shadow: 0px 10px 40px #AAA;
}

#about h1 {
    text-align: left;
    margin-top: 0;
}

#about h2 {
    text-align: left;
}

#about a {
    text-decoration: none;
    font-weight: 700;
    color: #333;
    transition: all 0.3s ease-in-out;
}

#about a:hover {
    background-color: #ffff66;
}

#about > .content-container > .content {
    width: 70%;
}

#about .grid-col-1of2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

#about img {
    float: right;
    width: 80%;
}

.about-bio {}

#connect {
    padding-top: 2rem;
}

a.connect-links {
    display: inline-block;
    margin-right: 2rem;
}

.video-left video {
    box-shadow: 0px 10px 40px #AAA;
}

.next-project a {
    text-align: center;
    width: 100%;
    left: 50%;
    margin: auto;
    display: inline;
    text-decoration: none;
    color: #333;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.next-project a:hover {
    background-color: #ffff66;
}
