@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i');

* {
    font-family: "Karla", sans-serif;
    box-sizing: border-box;
}

::selection {
    background: #ffff66;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
}

.logo-container {
    position: fixed;
    z-index: 1;
}

.logo-container a {
    text-decoration: none;
}

.logo-container h1 {
    display: block;
    text-align: left;
    margin-left: 2rem;
    margin-top: 2rem;
    color: #333;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

nav h1{
    
}

nav ul {
    position: fixed;
    left: 2rem;
    top: 83%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
    z-index: 1;
}

nav li a {
    font-size: 0.8rem;
    margin-top: 1rem;
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

nav li a:hover {
    background-color: #ffff66;
}

.ham-bar1,
.ham-bar2,
.ham-bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.nav-container.responsive .ham-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 50px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.nav-container.responsive .ham-bar2 {
    opacity: 0;
}

.nav-container.responsive .ham-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.hamburger {
    display: none;
}

.content-container {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    min-height: 100%;
}

.content {
    width: 50%;
    margin: auto;
}

h1 {
    color: #333;
    letter-spacing: 0.025em;
    font-size: 2rem;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

h2 {
    color: #333;
    letter-spacing: 0.05rem;
    font-size: 1.15rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    color: #333;
    letter-spacing: 0.05rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    line-height: 1.75rem;
}

img {
    width: 100%;
}

#intro {
    background: #fdfdfd;
    height: 100vh;
}

#intro h1 {
    background: #fdfdfd;
    position: relative;
    top: 40%;
    margin-bottom: 0.5rem;
}

#intro h2 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    margin: auto;
    line-height: 2rem;
    position: relative;
    top: 40%;
}

ul.project-list {
    list-style: none;
    margin: auto;
    padding: 0;
    text-align: center;
}

ul.project-list li {
    display: inline-block;
    position: relative;
    margin-top: 27vh;
    margin-bottom: 27vh;
}

ul.project-list li img {
    width: 100%;
    display: block;
}

span.text-content h2 {
    font-size: 2rem;
    color: #fdfdfd;
    text-transform: none;
}

span.text-content p {
    font-size: 1rem;
    color: #fdfdfd;
    margin: auto;
    font-weight: 400;
}

span.text-content h2,
span.text-content p {
    text-align: center;
    vertical-align: middle;
}

span.text-content {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}

ul.project-list li:hover span.text-content {
    opacity: 1;
}

ul.project-list li:nth-child(1) > a:nth-child(1) > .text-content:nth-child(2) > h2:nth-child(1) {
    position: relative;
    top: 35%;
}

ul.project-list li:nth-child(1) > a:nth-child(1) > .text-content:nth-child(2) > p:nth-child(2) {
    position: relative;
    top: 35%;
}

ul.project-list li:nth-child(2) > a:nth-child(1) > .text-content:nth-child(2) > h2:nth-child(1) {
    position: relative;
    top: 35%;
}

ul.project-list li:nth-child(2) > a:nth-child(1) > .text-content:nth-child(2) > p:nth-child(2) {
    position: relative;
    top: 35%;
}

ul.project-list li:nth-child(3) > a:nth-child(1) > .text-content:nth-child(2) > h2:nth-child(1) {
    position: relative;
    top: 35%;
}

ul.project-list li:nth-child(3) > a:nth-child(1) > .text-content:nth-child(2) > p:nth-child(2) {
    position: relative;
    top: 35%;
}

ul.project-list li:nth-child(4) > a:nth-child(1) > .text-content:nth-child(2) > h2:nth-child(1) {
    position: relative;
    top: 35%;
}

ul.project-list li:nth-child(5) > a:nth-child(1) > .text-content:nth-child(2) > p:nth-child(2) {
    position: relative;
    top: 35%;
}

ul.project-list li:nth-child(5) > a:nth-child(1) > .text-content:nth-child(2) > h2:nth-child(1) {
    position: relative;
    top: 35%;
}

ul.project-list li:nth-child(4) > a:nth-child(1) > .text-content:nth-child(2) > p:nth-child(2) {
    position: relative;
    top: 35%;
}

.opening-statement {
    height: 100vh;
    text-align: center;
}

.opening-statement h1, .opening-statement h2, .opening-statement p{
    position: relative;
    top:40%;
}

.opening-statement h2 {
    font-weight: 400;
}

.section-element {
    padding-bottom: 4rem;
}

.section-element h2 {
    text-align: left;
}

.supplemental-pdf {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.supplemental-pdf a {
    font-size: 0.85rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #333;
    transition: all 0.3s ease-in-out;
}

.supplemental-pdf a:hover {
    background-color: #FFFF66;
}

.project-content img {
    width: 100%;
}

.project-content p {
    line-height: 1.5rem;
    font-size: 0.9rem;
}

.project-content ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.project-content span {
    position: absolute;
    margin-top:0.5rem;
    font-size: 3em;
    font-weight: 700;
    background-color: #ffff66;
}

.project-content li {
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.project-content li p {
    font-size: 2rem;
    margin-left: 6rem;
    line-height: 3rem;
    margin-top: 0;
}

.photographvr-img {
    width: 100%;
}

.photographvr-img figure {
    margin: 0;
    padding: 2rem 0;
}

.photographvr-img figcaption {
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
}

.photographvr-img2 {
    width: 60%;
    margin: auto;
    padding-bottom: 1rem;
}

#about {
    padding-top: 20vh;
    height: 50vh;
}
.video-right video {
    float: right;
    box-shadow: 0px 10px 40px #AAA;
    margin-right: 4rem;
}

#about h1 {
    text-align: left;
    margin-top: 0;
}

#about h2 {
    text-align: left;
}

#about a {
    text-decoration: none;
    font-weight: 700;
    color: #333;
    transition: all 0.3s ease-in-out;
}

#about a:hover {
    background-color: #ffff66;
}

#about > .content-container > .content {
    width: 70%;
}

#about .grid-col-1of2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

#about img {
    float: right;
    width: 80%;
}

.about-bio {}

#connect {
    padding-top: 2rem;
}

a.connect-links {
    display: inline-block;
    margin-right: 2rem;
}

.video-left video {
    box-shadow: 0px 10px 40px #AAA;
    margin-left: 4rem;
}
