@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i');

* {
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
}

.logo-container {
    position: fixed;
}

.logo-container a {
    text-decoration: none;
}

.logo-container h1 {
    text-align: left;
    margin-left: 2rem;
    margin-top: 2rem;
    color: #333;
}

nav ul {
    position: fixed;
    left: 2rem;
    top: 80%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
}

nav li a {
    margin-top: 1rem;
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

nav li a:hover {
    color: #ff8c42;
    transform: skewX(-15deg);
}

.content-container {
    padding: 2rem;
    min-height: 100%;
}

.content {
    padding-top: 5rem;
    ;
    width: 50%;
    margin: auto;
}

h1 {
    color: #333;
    letter-spacing: 0.025em;
    font-size: 2rem;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

h2 {
    color: #333;
    letter-spacing: 0.05rem;
    font-size: 1.15rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    color: #333;
    letter-spacing: 0.05rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
}

/*
h4 {
    color: #333;
    font-weight: 400;
    text-decoration: underline;
}
*/

#intro p {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    margin: auto;
    line-height: 2rem;
}

.section-element {
    padding-bottom: 3rem;
}

.section-element h2 {
    text-align: left;
    font-size: 1rem;
    color: #ff8c42;
}

.in-text-link {
    text-decoration: none;
    border-bottom: 1px solid white;
    color: #333;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.in-text-link:hover {
    color: #ff8c42;
    border-bottom: 1px solid #ff8c42;
}

.code-container {
    border: solid 1px black;
    background-color: #ffffff;
}

code {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.75rem;
    display: block;
}

.nav-btn {
    margin-top: 1rem;
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.nav-btn:hover {
    color: #ff8c42;
    transform: skewX(-15deg);
}

a.btn {
    color: #ff8c42;
    display: inline-block;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 1px solid #333;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a.btn:hover {
    color: #fdfdfd;
    border: 1px solid #ff8c42;
    background-color: #ff8c42;
}

label {
    color: #AAA;
    font-style: italic;
    letter-spacing: 0.025rem;
}

input {
    font-size: 0.85rem;
    padding: 0.5rem;
    border: 1px solid #afafaf;
    border-radius: 2px;
}

input:focus {
    transition: all 0.3s ease-in-out;
    outline: none;
    border-color: #333;
}

.rendered h2 {
    color: #333;
    letter-spacing: 0.05rem;
    font-size: 1.15rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.rendered h3 {
    text-align: center;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

 span {
    position: absolute;
    font-size: 3em;
    font-weight: 700;
}

ol li {
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

li p {
    margin-left: 6rem;
}
