@import url('https://fonts.googleapis.com/css?family=Lora');

* {
    font-family: "Lora", sans-serif;
    box-sizing: border-box;
}

::selection {
    background: #ffff66;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
}

.logo-container {
    position: fixed;
    top: 0%;
    z-index: 1;
}

.logo-container a {
    text-decoration: none;
}

.logo-container h1 {
    display: inline-block;
    margin-left: 2rem;
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #333;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

nav ul {
    position: fixed;
    left: 2rem;
    top: 83%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
    z-index: 1;
}

nav li a {
    font-size: 0.8rem;
    margin-top: 1rem;
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

nav li a:hover {
    background-color: #ffff66;
}

.ham-bar1,
.ham-bar2,
.ham-bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.nav-container.responsive .ham-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 50px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.nav-container.responsive .ham-bar2 {
    opacity: 0;
}

.nav-container.responsive .ham-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.hamburger {
    display: none;
}

.content-container {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    min-height: 100%;
}

.content {
    width: 50%;
    margin: auto;
}

h1 {
    color: #333;
    letter-spacing: 0.025em;
    font-size: 2rem;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2 {
    color: #333;
    letter-spacing: 0.05rem;
    font-size: 1.15rem;
    font-weight: 700;
    text-align: center;
}

h3 {
    color: #333;
    letter-spacing: 0.05rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
}

#intro {
    background: #fdfdfd;
    height: 100vh;
}

#intro h1 {
    background: #fdfdfd;
    position: relative;
    top: 33%;
}

#intro p {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    margin: auto;
    line-height: 2rem;
    position: relative;
    top: 33%;
}

.section-element {
    padding-top: 3rem;
}

.section-element h2 {
    text-align: left;
    font-size: 1rem;
}

.in-text-link {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.in-text-link:hover {
    background-color: #ffff66;
}

.code-container {
    border: solid 1px black;
    background-color: #ffffff;
}

code {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.75rem;
    display: block;
}

.nav-btn {
    margin-top: 1rem;
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    font-size: 0.8rem;
}

.nav-btn:hover {
    background-color: #ffff66;
}

a.btn {
    color: #333;
    display: inline-block;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 1px solid #333;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
}

a.btn:hover {
    color: #333;
    border: 1px solid #ffff66;
    background-color: #FFFF66;
}

label {
    color: #333;
    letter-spacing: 0.025rem;
}

input {
    font-size: 0.85rem;
    padding: 0.5rem;
    border: 1px solid #afafaf;
    border-radius: 2px;
}

input:focus {
    transition: all 0.3s ease-in-out;
    outline: none;
    border-color: #333;
}

.rendered h1 {
    color: #333;
    font-size: 7rem;
}

.rendered h2 {
    color: #333;
    letter-spacing: 0.05rem;
    font-size: 1.15rem;
    font-weight: 700;
    text-align: center;
}

.rendered h3 {
    text-align: center;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol span {
    position: absolute;
    font-size: 3em;
    font-weight: 700;
    background-color: #FFFF66;
    margin-top: 2rem;
}

ol li {
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

li p {
    font-size: 2rem;
    margin-left: 6rem;
}

.rendered nav ul {
    position: relative;
    left: 0rem;
}

figure {
    margin: 0;
    padding-bottom: 0;
}

.tint {
    position: relative;
    float: left;
}

.tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    transition: all .3s linear;
}

.tint:hover:before {
    background: rgba(0, 0, 0, 0.1);
}

.text-content h2 {
    font-size: 2rem;
    color: #fdfdfd;
    text-transform: none;
}

.text-content p {
    font-size: 1rem;
    color: #fdfdfd;
    margin: auto;
    font-weight: 400;
}

.text-content h2,
.text-content p {
    text-align: center;
    vertical-align: middle;
    display: none;
}

.project .text-content {
    color: white;
    cursor: pointer;
    width: 100%;
    position: absolute;
    top: 37.5%;
    opacity: 0;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}

.space {
    margin-bottom: 35rem;
}

.project:hover .text-content {
    opacity: 1;
}

.project a img {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.project a {
    text-decoration: none;
}

h2.header {
    position: absolute;
    font-size: 7rem;
    margin: 0;
    margin-top: 23rem;
    right: 12%;
}

p.subheader {
    text-align: right;
    position: absolute;
    font-size: 1rem;
    margin: 0;
    margin-top: 33rem;
    right: 12%;
}

.structure p {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    padding-top: 5rem;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.grid-col-12of12 {
    width: 100%;
    background: #FDFDFD;
    height: 200px;
    border: 1px solid #333;
}

.grid-col-6of12 {
    width: 50%;
    background: #FDFDFD;
    height: 200px;
    border: 1px solid #333;
}

.grid-col-4of12 {
    width: 33.3333333%;
    background: #FDFDFD;
    height: 200px;
    border: 1px solid #333;
}

.grid-col-3of12 {
    width: 25%;
    background: #FDFDFD;
    height: 200px;
    border: 1px solid #333;
}

.box {
    width: 33%;
    height: 200px;
}

.box p {
    padding: 1rem;
    text-align: center;
    font-weight: 700;
}

#offwhite {
    background: #fdfdfd;
    border: 1px solid #333;
    color: #333;
}

#yellow {
    background: #ffff66;
    color: #333;
}

#black {
    background: #333333;
    color: #fdfdfd;
}
